*{
    margin:0;
    padding:0;
}
body{
    background:url(../images/banner-bg1.jpg);
}
header{
    background-color: rgba(160,160,160,0.4);
}
div h1{
     
}
div.container{
    display:flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-top:20px;
    width:80%;
    height:50px;
    margin:0 auto;
    text-align: center;
    
}
ul{
    margin:0 0 0 150px;
    
}
li{
    list-style: none;
    display: inline-block;
    
    font-size:1.5em;
    width:100px;
    text-align: center;
}
li a{
    text-decoration: none;
    
}
a:hover{
    font-weight: bold;
    font-style: italic;
    
}
a:active{
    color:#f0f;
}
a:link{
    color:#f00;
}
